<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861068547822-v29vsbrp8rd0ckspsli2hbsa8ifs7022.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861068547822-v29vsbrp8rd0ckspsli2hbsa8ifs7022</string>
	<key>API_KEY</key>
	<string>AIzaSyDa_CqFpxUGuUGGG43EHTXU40_Pa5O-XOU</string>
	<key>GCM_SENDER_ID</key>
	<string>861068547822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.filipkrzyzanowski.TwitterTutorial</string>
	<key>PROJECT_ID</key>
	<string>twittertutorial-b2979</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorial-b2979.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861068547822:ios:c9872618cc390a02dec5ff</string>
	<key>DATABASE_URL</key>
	<string>https://twittertutorial-b2979.firebaseio.com</string>
</dict>
</plist>